@mixin no-sides {
  width: 70%;
  margin: auto;
}

$hamburgerMenuBgColor: #000;
$hamburgerMenuBgColorHovered: #f70;
$menuBgColor: rgba(0, 0, 0, 0.2);
$menuSectionBgColor: #000;
$menuTextColor: #fff;
$menuTextColorHovered: #bbb;

$homeContainerTextColor: #fff;
$homeContainerTextShadow: 2px 2px 13px rgb(112 43 177 / 45%);
$homeContainerBgColor: linear-gradient(#b47aec, #702bb1);
$homeContainerLiItemsBorder: 1px solid #fff;

$businessTextColor: #702bb1;

$womanCirclesBgColor: linear-gradient(to right, #ecbff9, #ffcca4);
$womanCardsBgColor: linear-gradient(#ffcca4, #ecbff9);
$womanCardsSimpleBgColor: #f2f2f2;
$womanCardsTitle: #702bb1;
$womanCardsSimpleTextColor: #000;

$digitalCardBgColor: #fff;
$digitalCardTitleAndButtonColor: #702bb1;
$digitalCardButtonText: #fff;

$whatWeDoFirstBgColor: linear-gradient(#d3b1f4, #fbc6d9);
$whatWeDoSecondBgColor: #fff6ef;
@mixin flow-to-top-secton {
  position: relative;
  top: -380px;
}

$teamContainerBgColor: #fff;
$teamContainerTitleColor: #702bb1;
