$hamburgerMenuBgColor: #000;
$hamburgerMenuBgColorHovered: #f70;
$menuBgColor: rgba(0, 0, 0, 0.2);
$menuSectionBgColor: #000;
$menuTextColor: #fff;
$menuTextColorHovered: #bbb;

$homeContainerTextColor: #fff;
$homeContainerTextShadow: 2px 2px 13px rgb(112 43 177 / 45%);
$homeContainerBgColor: linear-gradient(#b47aec, #702bb1);
$homeContainerLiItemsBorder: 1px solid #fff;

$businessTextColor: #702bb1;
