$hamburgerMenuBgColor: #000;
$hamburgerMenuBgColorHovered: #f70;
$menuBgColor: rgba(0, 0, 0, 0.2);
$menuSectionBgColor: #000;
$menuTextColor: #fff;
$menuTextColorHovered: #bbb;

$homeContainerTextColor: #fff;
$homeContainerBgColor: linear-gradient(#b47aec, #702bb1);
$homeContainerLiItemsBorder: 1px solid #fff;
