.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  &__menu {
    &__hamburger {
      cursor: pointer;

      &__line {
        height: 4px;
        width: 30px;
        margin: 5px 0;
        background-color: $hamburgerMenuBgColor;
      }

      &:hover &__line {
        background-color: $hamburgerMenuBgColorHovered;
      }
    }
  }
}

.menu {
  position: fixed;
  inset: 0;
  background-color: $menuBgColor;

  &__wrapper {
    width: 250px;
    height: 100%;
    padding: 15px;
    background-color: $menuSectionBgColor;

    &__close {
      margin: 5px;

      img {
        display: block;
        margin-left: auto;
        cursor: pointer;
      }
    }

    &__list {
      color: $menuTextColor;

      ul {
        list-style-type: none;
        font-size: 23px;
        text-align: center;

        li {
          padding: 10px;
          cursor: pointer;

          &:hover {
            color: $menuTextColorHovered;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .nav {
    width: 70%;
    margin: auto;
  }
}
