.home {
  background-image: url("../images/background.jpg");
  background-size: cover;
  position: relative;

  &__images {
    &__first-two {
      display: flex;
      justify-content: space-between;
      padding: 40px;

      img {
        width: 150px;
      }

      & div:first-child {
        animation: home-wave-from-left 1s;
      }

      & div:last-child {
        img {
          animation: home-ball-from-right 1s;
        }
      }
    }

    &__second-two {
      display: flex;
      justify-content: space-between;
      padding: 40px;

      img {
        position: relative;
        left: 45px;
        width: 150px;
        z-index: 1;

        &:first-child {
          animation: home-pipe-from-left 1s;
        }

        &:last-child {
          left: -45px;
          animation: home-wheel-from-right 1s;
        }
      }
    }
  }

  &__container {
    color: $homeContainerTextColor;
    animation: home-container-scale 1s;

    h1 {
      width: 80%;
      margin: auto;
      font-size: 35px;
      text-align: center;
    }

    &__layout {
      margin: 10px;
      padding: 15px 30px;
      border-radius: 100px;
      background: $homeContainerBgColor;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;

        li {
          font-size: 25px;
          padding: 5px;
          border-right: $homeContainerLiItemsBorder;

          &:last-child {
            border: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .home {
    height: fit-content;

    &__wrapper {
      @include no-sides;
    }

    &__container {
      position: relative;
      top: -200px;

      h1 {
        width: 50%;
        font-size: 100px;
        text-shadow: $homeContainerTextShadow;
      }

      &__layout {
        width: 600px;
        margin: auto;
      }
    }

    &__images__second-two {
      position: relative;
      top: -200px;
    }
  }
}
