.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.nav__menu__hamburger {
  cursor: pointer;
}
.nav__menu__hamburger__line {
  height: 4px;
  width: 30px;
  margin: 5px 0;
  background-color: #000;
}
.nav__menu__hamburger:hover .nav__menu__hamburger__line {
  background-color: #f70;
}

.menu {
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}
.menu__wrapper {
  width: 250px;
  height: 100%;
  padding: 15px;
  background-color: #000;
}
.menu__wrapper__close {
  margin: 5px;
}
.menu__wrapper__close img {
  display: block;
  margin-left: auto;
  cursor: pointer;
}
.menu__wrapper__list {
  color: #fff;
}
.menu__wrapper__list ul {
  list-style-type: none;
  font-size: 23px;
  text-align: center;
}
.menu__wrapper__list ul li {
  padding: 10px;
  cursor: pointer;
}
.menu__wrapper__list ul li:hover {
  color: #bbb;
}

@media screen and (min-width: 768px) {
  .nav {
    width: 70%;
    margin: auto;
  }
}
.home {
  background-image: url("../images/background.jpg");
  background-size: cover;
  position: relative;
}
.home__images__first-two {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.home__images__first-two img {
  width: 150px;
}
.home__images__second-two {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.home__images__second-two img {
  position: relative;
  left: 45px;
  width: 150px;
  z-index: 1;
}
.home__images__second-two img:last-child {
  z-index: 0;
  left: -45px;
}
.home__container {
  color: #fff;
}
.home__container h1 {
  width: 80%;
  margin: auto;
  font-size: 35px;
  text-align: center;
}
.home__container__layout {
  margin: 10px;
  padding: 15px 30px;
  border-radius: 100px;
  background: linear-gradient(#b47aec, #702bb1);
}
.home__container__layout ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}
.home__container__layout ul li {
  font-size: 25px;
  padding: 5px;
  border-right: 1px solid #fff;
}
.home__container__layout ul li:last-child {
  border: none;
}

@media screen and (min-width: 768px) {
  .home {
    height: -moz-fit-content;
    height: fit-content;
  }
  .home__wrapper {
    width: 70%;
    margin: auto;
  }
  .home__container {
    position: relative;
    top: -200px;
  }
  .home__container h1 {
    width: 50%;
    font-size: 100px;
    text-shadow: 2px 2px 13px rgba(112, 43, 177, 0.45);
  }
  .home__container__layout {
    width: 600px;
    margin: auto;
  }
  .home__images__second-two {
    position: relative;
    top: -200px;
  }
}
.business__wrapper h1 {
  width: 60%;
  margin: 20px auto auto auto;
  font-size: 30px;
  text-align: center;
  color: #702bb1;
}
.business__wrapper__cards {
  margin: 30px 15px 0;
}
.business__wrapper__cards__item {
  padding: 20px 0;
}
.business__wrapper__cards__item p {
  margin: 10px 0;
  font-size: 20px;
  line-height: 35px;
}
.business__wrapper__cards__item img {
  width: 120px;
}
.business__wrapper__cards__item__text h2 {
  color: #702bb1;
}

@media screen and (min-width: 768px) {
  .business__wrapper {
    width: 70%;
    margin: auto;
  }
  .business__wrapper h1 {
    font-size: 50px;
  }
  .business__wrapper__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 480px);
    justify-content: center;
  }
  .business__wrapper__cards__item {
    display: flex;
  }
  .business__wrapper__cards__item__image {
    margin-right: 20px;
  }
  .business__wrapper__cards__item__text p {
    font-size: 18px;
  }
}
.woman__wrapper {
  padding: 10px;
}
.woman__wrapper__circles {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.woman__wrapper__circles__small {
  width: 72px;
  height: 72px;
  background: linear-gradient(to right, #ecbff9, #ffcca4);
  border-radius: 100%;
}
.woman__wrapper__circles__big {
  width: 103px;
  height: 103px;
  background: linear-gradient(to right, #ecbff9, #ffcca4);
  border-radius: 100%;
}
.woman__wrapper__images {
  display: flex;
}
.woman__wrapper__images img {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}
.woman__wrapper__images img:last-child {
  left: -100%;
}
.woman__wrapper__cards__item {
  margin: 20px 0;
  padding: 20px;
  text-align: center;
  color: #702bb1;
  background: linear-gradient(#ffcca4, #ecbff9);
  border-radius: 20px;
}
.woman__wrapper__cards__item h1 {
  font-size: 40px;
}
.woman__wrapper__cards__item p {
  font-size: 20px;
}
.woman__wrapper__cards .simple {
  background: #f2f2f2;
}
.woman__wrapper__cards .simple p {
  color: #000;
}

@media screen and (min-width: 768px) {
  .woman__wrapper {
    width: 70%;
    margin: auto;
  }
  .woman__wrapper__container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }
  .woman__wrapper__circles {
    flex-direction: column-reverse;
  }
  .woman__wrapper__circles__small {
    width: 120px;
    height: 120px;
  }
  .woman__wrapper__circles__big {
    width: 200px;
    height: 200px;
  }
  .woman__wrapper__images {
    position: relative;
    justify-content: center;
    height: 600px;
    width: 600px;
  }
  .woman__wrapper__images img {
    position: absolute;
  }
  .woman__wrapper__images img:last-child {
    left: auto;
  }
  .woman__wrapper__cards {
    position: relative;
    top: -30px;
    display: flex;
    gap: 20px;
  }
}
.digital {
  background-image: url("../images/background.jpg");
  background-size: cover;
  overflow: hidden;
}
.digital__wrapper {
  padding: 30px 10px;
}
.digital__wrapper__ball {
  display: inline-block;
}
.digital__wrapper__ball img {
  width: 100px;
}
.digital__wrapper__wave {
  position: relative;
  right: -25%;
  display: inline-block;
}
.digital__wrapper__wave img {
  width: 150px;
}
.digital__wrapper__fixed__cube {
  height: 150px;
}
.digital__wrapper__fixed__cube img {
  position: relative;
  left: 200px;
  top: 20%;
  width: 200px;
}
.digital__wrapper__fixed__card {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}
.digital__wrapper__fixed__card h1 {
  margin: 20px 0;
  font-size: 27px;
  color: #702bb1;
}
.digital__wrapper__fixed__card p {
  font-size: 20px;
  line-height: 30px;
}
.digital__wrapper__fixed__card__more {
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px 0 50px 0;
  padding: 20px 30px;
  background-color: #702bb1;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.digital__wrapper__fixed__o {
  position: relative;
  height: 150px;
}
.digital__wrapper__fixed__o img {
  position: absolute;
  bottom: 40%;
  left: 15%;
  width: 170px;
}
.digital__wrapper__pipe img {
  display: block;
  margin-left: auto;
  width: 130px;
}

@media screen and (min-width: 768px) {
  .digital__wrapper {
    position: relative;
    width: 70%;
    margin: auto;
  }
  .digital__wrapper__wave {
    right: 0;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
  }
  .digital__wrapper__wave img {
    width: 200px;
  }
  .digital__wrapper__fixed__cube {
    height: 200px;
  }
  .digital__wrapper__fixed__cube img {
    left: 400px;
    width: 250px;
  }
  .digital__wrapper__fixed__card h1 {
    font-size: 50px;
  }
  .digital__wrapper__fixed__o {
    height: 200px;
  }
  .digital__wrapper__fixed__o img {
    bottom: 0%;
    left: 25%;
    width: 300px;
  }
  .digital__wrapper__pipe {
    position: absolute;
    right: 0;
    bottom: 200px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .digital__wrapper__pipe img {
    width: 220px;
  }
}
.whatWeDo {
  background-color: #fff6ef;
}
.whatWeDo__first-bg {
  background-image: linear-gradient(#d3b1f4, #fbc6d9);
  height: 400px;
}
.whatWeDo__wrapper {
  padding: 20px;
  height: 700px;
}
.whatWeDo__wrapper > img {
  position: relative;
  top: -380px;
  display: block;
  margin-left: auto;
  margin-bottom: 50px;
  width: 150px;
}
.whatWeDo__wrapper__card {
  position: relative;
  top: -380px;
  padding: 50px;
  background-color: #fff;
  border-radius: 20px;
}
.whatWeDo__wrapper__card img {
  position: relative;
  top: -50px;
  rotate: 30deg;
  width: 200px;
}
.whatWeDo__wrapper__card h1 {
  margin-bottom: 20px;
  font-size: 27px;
  color: #702bb1;
}
.whatWeDo__wrapper__card p {
  font-size: 20px;
  line-height: 30px;
}
.whatWeDo__wrapper__card__more {
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px 0 50px 0;
  padding: 20px 30px;
  background-color: #702bb1;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.whatWeDo__wrapper__images {
  position: relative;
  top: -380px;
  margin: 10px 0;
}
.whatWeDo__wrapper__images img {
  display: block;
  width: 150px;
}
.whatWeDo__wrapper__images img:last-child {
  margin-left: auto;
  width: 200px;
}

@media screen and (min-width: 768px) {
  .whatWeDo__wrapper {
    width: 70%;
    margin: auto;
  }
  .whatWeDo__wrapper > img {
    margin: 190px 0 0 0;
    width: 300px;
  }
  .whatWeDo__wrapper__card {
    top: -750px;
    max-width: 600px;
    margin-left: auto;
  }
  .whatWeDo__wrapper__card img {
    top: -90px;
  }
  .whatWeDo__wrapper__card h1 {
    font-size: 50px;
  }
  .whatWeDo__wrapper__images {
    top: -750px;
  }
  .whatWeDo__wrapper__images img {
    width: 200px;
  }
  .whatWeDo__wrapper__images img:last-child {
    width: 250px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}/*# sourceMappingURL=index.css.map */