.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.nav__menu__hamburger {
  cursor: pointer;
}
.nav__menu__hamburger__line {
  height: 4px;
  width: 30px;
  margin: 5px 0;
  background-color: #000;
}
.nav__menu__hamburger:hover .nav__menu__hamburger__line {
  background-color: #f70;
}

.menu {
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}
.menu__wrapper {
  width: 250px;
  height: 100%;
  padding: 15px;
  background-color: #000;
}
.menu__wrapper__close {
  margin: 5px;
}
.menu__wrapper__close img {
  display: block;
  margin-left: auto;
  cursor: pointer;
}
.menu__wrapper__list {
  color: #fff;
}
.menu__wrapper__list ul {
  list-style-type: none;
  font-size: 23px;
  text-align: center;
}
.menu__wrapper__list ul li {
  padding: 10px;
  cursor: pointer;
}
.menu__wrapper__list ul li:hover {
  color: #bbb;
}

@media screen and (min-width: 768px) {
  .nav {
    width: 70%;
    margin: auto;
  }
}
.home {
  background-image: url("../images/background.jpg");
  background-size: cover;
  position: relative;
}
.home__images__first-two {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.home__images__first-two img {
  width: 150px;
}
.home__images__second-two {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.home__images__second-two img {
  position: relative;
  left: 45px;
  width: 150px;
  z-index: 1;
}
.home__images__second-two img:last-child {
  z-index: 0;
  left: -45px;
}
.home__container {
  color: #fff;
}
.home__container h1 {
  width: 80%;
  margin: auto;
  font-size: 35px;
  text-align: center;
}
.home__container__layout {
  margin: 10px;
  padding: 15px 30px;
  border-radius: 100px;
  background: linear-gradient(#b47aec, #702bb1);
}
.home__container__layout ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}
.home__container__layout ul li {
  font-size: 25px;
  padding: 5px;
  border-right: 1px solid #fff;
}
.home__container__layout ul li:last-child {
  border: none;
}

@media screen and (min-width: 768px) {
  .home {
    height: -moz-fit-content;
    height: fit-content;
  }
  .home__wrapper {
    width: 70%;
    margin: auto;
  }
  .home__container {
    position: relative;
    top: -200px;
  }
  .home__container h1 {
    width: 50%;
    font-size: 100px;
    text-shadow: 2px 2px 13px rgba(112, 43, 177, 0.45);
  }
  .home__container__layout {
    width: 600px;
    margin: auto;
  }
  .home__images__second-two {
    position: relative;
    top: -200px;
  }
}
.business__wrapper h1 {
  width: 60%;
  margin: 20px auto auto auto;
  font-size: 30px;
  text-align: center;
  color: #702bb1;
}
.business__wrapper__cards {
  margin: 30px 15px 0;
}
.business__wrapper__cards__item {
  padding: 20px 0;
}
.business__wrapper__cards__item p {
  margin: 10px 0;
  font-size: 20px;
  line-height: 35px;
}
.business__wrapper__cards__item img {
  width: 120px;
}
.business__wrapper__cards__item__text h2 {
  color: #702bb1;
}

@media screen and (min-width: 768px) {
  .business__wrapper {
    width: 70%;
    margin: auto;
  }
  .business__wrapper h1 {
    font-size: 50px;
  }
  .business__wrapper__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 480px);
    justify-content: center;
  }
  .business__wrapper__cards__item {
    display: flex;
  }
  .business__wrapper__cards__item__image {
    margin-right: 20px;
  }
  .business__wrapper__cards__item__text p {
    font-size: 18px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}/*# sourceMappingURL=index.css.map */