@import "config";
@import "keyframes";
@import "header";
@import "home";
@import "business";
@import "woman";
@import "digital";
@import "whatWeDo";
@import "team";
@import "form";
@import "footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}
